PORT=3000
NODE_ENV=development
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=
DATABASE_URL_DEV=
DATABASE_URL_LOCAL=postgresql://postgres:root@localhost:5432/fplapi
DATABASE_URL_PROD=

